body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPwf-Wu8Xrk0y1SukxaMf9QVSxp1V827L9zQ&s");
    background-repeat: no-repeat;
    background-size: cover;
}

/* .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(101, 20, 20, 0.5);
    z-index: 1; 
} */

header {
    background: #0d0b4e;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

nav .logo h1 {
    height: 30px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1.15rem;
}

footer {
    background: #0d0b4e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: #4b92dd;
    color: #030303;
    cursor: pointer;
    border-radius: 4px;
}
.about-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.members{
    height: 350px;
    width: 250px;
    
}